[submodule "customized-zed-icon-theme"]
	path = customized-zed-icon-theme
	url = https://github.com/jannabiforever/customized-zed-icon-theme.git

[submodule "surreal-mcp-server"]
    path = surreal-mcp-server
    url = https://github.com/jannabiforever/zed-surrealdb-mcp-server.git
